{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="/static/css/invoce_edit.css">
<body class="back">
    <a class="button1" href="{% url 'InvoiceHomepage' %}"> Dashboard</a>
            {% if messages %}
            {% for message in messages %}
            <h4>{{message}}</h4>
            {% endfor %}
            {% endif %}
            <div class="form-box">
     <div class=""> 
      <form class="" method="post">
         
          {% csrf_token %}
          {{ form|crispy }}
         
         
         <div class="form-button"><button type="submit"> Edit Invoice </button></div> 
      
      </form>
  </div>
  </div>
  </body>
        
{% endblock %}