*{
    margin: auto;
    padding: 0%;
}
.bg{
    background-color: #6ca8fe;
}

.form div{
    display: flex;
    flex-direction: column;
}

.form div label{
    margin: 5px 0px;
}



.button1{ 
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    
    
}


.button1:hover{
    background-color:#27962a;
    text-decoration: none;
    color: #ffffff;
}
h4{
    color: green;
    font-size: 16px;
    text-align: center;
}

.company-box {
    max-width: 400px;
    margin-top: 30px;
   
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #d6efed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #333;
    
   
  }

  input[type=text]{
    padding: 5px;
  }
  input[type=email]{
    padding: 5px;
  }
  textarea{
    border-radius: 5px;
    overflow: auto;
    width: 95%;
    height: 100px;
  }




 .company-button{
    background-color: rgb(85, 168, 198);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.company-button:hover{
    color: #f1f1f1;
    background-color:  rgb(70, 143, 169);
}

.button-div{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}