.login-box {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #333;
  
 
 

}

.h1 {
  margin-top: 100px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a8989;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
body{
  background-image: url('/static/images/bgimage1.jpg');
  background-repeat: no-repeat;
 
}
/* .register{
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */


.register{
  width: 86%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  gap:15px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}
.register:hover{
  background-color: #45a049;
  text-decoration: none;
}


/* .heading{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 150px;
}


.login-page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




.login-form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.login-form h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}


.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.login-form button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.login-form button[type="submit"]:hover {
  background-color: #45a049;
}


.login-form a {
  color: #4CAF50;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form .register_class{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
}

.login-form .register_class:hover {
  background-color: #45a049;
  text-decoration: none;
}

.login-form .button_class{
  display: flex;
  gap: 10px;
} */